.overlay-container{
    width: 40%;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    margin:50px ;
       height:300px;
       overflow: hidden;
    width: 510px;
    height: 300px;
}